extends ../layout

block content
  include navigation
  h1 #{title}

  p A new strategy for BoundStar!

  ul
    li A Public Vanilla Server!
    li World Backups + Restores
    li Protected Build Servers
      ul
        li CommandStar - Server Status Panel + Web API
        li Ghost Website? - with vote buttons?
        li TeamSpeak - Private Channels on BoundStar TeamSpeak
        li Universe Syncing Features
    li Server Control Panels
      ul
        li Restart Starbound
        li Save A World
        li Restart The Server
        li Restart Your Web Services


  h2 Monthly Servers

  p Keep your IP Address
  p Free BoundStar Subdomain
  p TeamSpeak Admin Privledges?
  p Server Monitor, Web Site, Web API, Forum Moderator?

  p $30/Month - 2x2Ghz Intel, 2GB RAM, 40GB SSD - Good for 4 players, capped at 8+2 admin
  p $100/Month - 4x2Ghz Intel, 8GB RAM, 80GB SSD - Good for 10 players, capped at 18+2 admin

  h2 Hourly Plans

  p $10/Month - Keep an image when your server is down.
  P Plus 50 small tokens, or 20 large tokens.

  p (~10 cents/token) - 2x2Ghz Intel, 2GB RAM, 40GB SSD - Good for ~3 players, capped at 8+2 admin
  p (~25 cents/token) - 4x2Ghz Intel, 8GB RAM, 80GB SSD - Good for ~8 players, capped at 18+2 admin

  h2 Hourly Terms

  ol
    li 1 token to provision the server.
    li 1 token per/hr.
    li 1 token to take an image for later before shutting down the server.

  p You can't switch from large to small, may be possible to upgrade.

  h2 All Servers Come With:

  p !! World Backup, BoundStar Universe Export Compatibilty !!
  p Import planets from the - The Essential Guide to Planets and Moons
  p Server Admin Powers
  p Web Server Management Interface


  h2 Server/StarryPy Manager

  p UUID Config
  p Planet Protection?
  p Planet Export
  p Run Scripts

  h1 my.starbound.today

  h2 Planet Mover

  p list planets
  p add planet
  p download planet

  h2 Metal Manager

  p Start A Server
  p Start Server From Image
  p Hard Restart Server
  p Restart Server and Take Image
  p Take Image and Destroy
  p Destroy Server

  h1 Are UUID's common across servers?

  h1 Start with MVP

  p Tokens?
  p Vanilla BoundStar Manager
  p Script Runner
  p No Saving Server Images

  h2 phase 2

  p Server Image Manager
  p Planetary Catalog
  p Server Passwords?

  h2 phase 3

  p StarryPy Manager
  p Password Protection
  p Banhammer Web Interface

  ul
    for droplet in droplets
      li= droplet.name
        ul
          li id - #{droplet.id}
          li name - #{droplet.name}
          li image_id - #{droplet.image_id}
          li size_id - #{droplet.size_id}
          li region_id - #{droplet.region_id}
          li backups_active - #{droplet.backups_active}
          li ip_address - #{droplet.ip_address}
          li private_ip_address - #{droplet.private_ip_address}
          li locked - #{droplet.locked}
          li status - #{droplet.status}
          li created_at - #{droplet.created_at}
    else
      li sorry, no droplets!

  //- ul
  //-   li
  //-     a(href='/admin') Boundstar Admin
  //-   li
  //-     a(href='/server-admin') Server Admin
  //-   li
  //-     a(href='/claim') StarryBound Claim Page

    //- form.form-horizontal(role='form', method='POST')
    //-   input(type='hidden', name='_csrf', value=token)
    //-   .form-group(style='height: 43px;')
    //-     label(class='col-sm-2 control-label', for='script') Script
    //-     .col-sm-8
    //-       select.form-control(name='script', id='script')
    //-         option(value='')
    //-         option(value='restore') Restore Spawn also must Restart Starbound
    //-         option(value='restart') Restart StarBound
    //-         option(value='backup') Backup Spawn
    //-         option(value='ls') Test with "cd ~; ls"
    //-   .form-group
    //-     .col-sm-offset-2.col-sm-8
    //-       button.btn.btn-default(type='submit')
    //-         i.fa.fa-mail-forward
    //-         | Execute
